/******************************************/
/* Personalizaciones */
#barra {
    background-color: #151515;
}

#body-pagina {
  background-color: grey;  
}

.btn-refresh {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.tarjeta {
    -webkit-box-shadow: 7px 9px 17px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 17px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 9px 17px -4px rgba(0, 0, 0, 0.75);
    margin-top: 30px;
    margin-bottom: 100px;
}

.centrado {
    text-align: center;
}

.logo {
	margin: 10px;
}

.elipsis {
    text-overflow: ellipsis;
}

.pie {
    z-index: 0;
}

.flotando {
    z-index: -3;
}

/*Botón de selección de idioma*/
.btn-idioma {
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}
/*Imagen para cada botón de idioma
1.buscarlo en https://restcountries.eu/rest/v2/name/nombredelpais
2.ponerlo en la carpeta /img/lang/xx.svg
*/
.btn-idioma-es {
    background-image: url(../img/lang/es.svg);
}
.btn-idioma-en {
    background-image: url(../img/lang/en.svg);
}
.btn-idioma-fr {
    background-image: url(../img/lang/fr.svg);
}





/* Fin Personalizaciones */
/******************************************/
.login {
	font-family: arial;
	padding: 0px 0 0 0;
}

/*
.login .logo {
	display: block;
	margin: 0 auto 5px;
	top: 30px;
}
*/

.login a,
.login a:visited {
	text-decoration: underline;
	color: inherit;
}

ul.notice {
	margin: 30px auto;
	width: 300px;
	text-align: center;
	list-style-position: inside;
	font-size: 15px;
	padding: 20px 30px;
	border-radius: 3px;
}

ul.notice.errors {
	background-color: #fff4f4;
	border: 1px solid #f50909;
	color: #f50909;
}

ul.notice.success {
	background-color: #d7eacd;
	border: 1px solid #6fae4f;
	color: #6fae4f;
}

ul.notice li {
	padding: 5px 0;
}

.vertical-form {
    background-color: grey;
    margin: 0 auto;
}

.vertical-form legend {
	width: 100%;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	margin: 0 0 30px 0;
}



.vertical-form .footer {
	text-align: center;
}

.vertical-form .footer p:first-child {
	color: #222;
}

.vertical-form .footer a:first-child {
	border-bottom: solid 1px #ccc;
	-webkit-appearance: none;
	text-decoration: none;
}

.vertical-form .footer p:nth-child(2) a {
	border-bottom: solid 1px #000;
}


/*
@media (max-width:768px) {
	.login {
		padding: 10px 0 0 0
	}
}
*/
