<md-dialog aria-label="Ayuda">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{vm.m.hAyuda}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close" md-svg-src="img/ic_close_white_24px.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="column">
                <h3>{{vm.m.hHeader}}</h3>
                <p>{{vm.m.hPar1}}</p>
            </div>
        </div>

    </md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button class="md-raised" ng-click="answer(true)">
			{{vm.m.comOk}}
		</md-button>
	</md-dialog-actions>
</md-dialog>
