<md-dialog aria-label="Ayuda">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{m.hAyuda}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close" md-svg-src="img/ic_close_white_24px.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div layout="column">
                <h3>{{m.hHeader}}</h3>
                <br/>
                <md-divider></md-divider>
                <br/>
                <div class="row">
                    <h4 class="badge badge-info text-center">{{m.hPaso}} 1</h4>
                    <div class="row">
                        <div class="col-6">
                            <p class="small text-justify">{{m.hPar1}}</p>
                        </div>
                        <div class="col">
                            <img src="img/help/step1.jpg" class="img-fluid img-thumbnail rounded" alt="step1"/>
                        </div>
                    </div>
                </div>

                <br/>
                <md-divider></md-divider>
                <br/>
                <div class="row">
                    <h4 class="badge badge-info text-center">{{m.hPaso}} 2</h4>
                    <div class="row">
                        <div class="col-6">
                            <p class="small text-justify">{{m.hPar2}}</p>
                        </div>
                        <div class="col">
                            <img src="img/help/step2.jpg" class="img-fluid img-thumbnail rounded" alt="step2"/>
                        </div>
                    </div>
                </div>

                 <br/>
                <md-divider></md-divider>
                <br/>
                <div class="row">
                    <h4 class="badge badge-info text-center">{{m.hPaso}} 3</h4>
                    <div class="row">
                        <div class="col-6">
                            <p class="small text-justify">{{m.hPar3}}</p>
                        </div>
                        <div class="col">
                            <img src="img/help/step3.jpg" class="img-fluid img-thumbnail rounded" alt="step3"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button class="md-raised" ng-click="answer(true)">
			{{m.comOk}}
		</md-button>
	</md-dialog-actions>
</md-dialog>
